NODE_ENV=development

# MySQL
MYSQL_ROOT_PASSWORD=root_secret_medicitas
MYSQL_USER=medicitas_app
MYSQL_PASSWORD=app_secret_medicitas

# Redis
REDIS_PASSWORD=redis_secret_medicitas

# RabbitMQ
RABBITMQ_USER=medicitas_broker
RABBITMQ_PASSWORD=broker_secret_medicitas

# JWT
JWT_SECRET=super_secret_jwt_medicitas_2026
JWT_EXPIRES_IN=8h

# APIs externas (mocks en desarrollo)
ASEGURADORA_API_URL=https://api.aseguradora-mock.pe
FARMACIA_API_URL=https://api.farmacia-mock.pe
SMS_API_URL=https://api.sms-mock.pe
SMS_API_KEY=sms_key_mock
